@{
    ViewData["Title"] = "About Me";
}



<div class="container row text-center">

    <h1>About Me</h1>
<div class="col-md mt-3">
    <img src="https://placekitten.com/400/400" alt="placeholder kitten">
    <h3>Harold Barleta</h3>
    <h5>I love to code!</h5>
</div>
<div class="col-md mt-3">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis tenetur error quibusdam quo. Debitis, quisquam vel numquam alias omnis labore eum voluptatem mollitia pariatur sed architecto tempore blanditiis atque illo!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis tenetur error quibusdam quo. Debitis, quisquam vel numquam alias omnis labore eum voluptatem mollitia pariatur sed architecto tempore blanditiis atque illo!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis tenetur error quibusdam quo. Debitis, quisquam vel numquam alias omnis labore eum voluptatem mollitia pariatur sed architecto tempore blanditiis atque illo!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis tenetur error quibusdam quo. Debitis, quisquam vel numquam alias omnis labore eum voluptatem mollitia pariatur sed architecto tempore blanditiis atque illo!</p>
</div>
</div>

