@{
    ViewData["Title"] = "Projects";
}


<div class="container">
<h1 class="text-center">This is from my Projects page!</h1>
    <div class="container d-flex border">
        <div class="column-5 m-5">
        <img src="https://placekitten.com/300/200" alt="placeholder kitten">
        </div>
        <div class="column-5 m-5">
            <h1>project 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima dolorem expedita necessitatibus dicta atque impedit earum, voluptas nesciunt sunt optio ad? Delectus id repellendus debitis, reiciendis eligendi deserunt corrupti quisquam.</p>
        </div>
    </div>
    <div class="container d-flex border">
        <div class="column-5 m-5">
        <img src="https://placekitten.com/300/200" alt="placeholder kitten">
        </div>
        <div class="column-5 m-5">
            <h1>project 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima dolorem expedita necessitatibus dicta atque impedit earum, voluptas nesciunt sunt optio ad? Delectus id repellendus debitis, reiciendis eligendi deserunt corrupti quisquam.</p>
        </div>
    </div>
    <div class="container d-flex border">
        <div class="column-5 m-5">
        <img src="https://placekitten.com/300/200" alt="placeholder kitten">
        </div>
        <div class="column-5 m-5">
            <h1>project 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima dolorem expedita necessitatibus dicta atque impedit earum, voluptas nesciunt sunt optio ad? Delectus id repellendus debitis, reiciendis eligendi deserunt corrupti quisquam.</p>
        </div>
    </div>

</div>