@model Wedding

<h1 class="text-center">Plan a Wedding!</h1>

<div class="container w-75 mx-auto p-3 m-2 bg-primary text-white shadow">
    <form
    asp-controller="Wedding"
    asp-action="AddWedding"
    method="POST"
    >
        <label asp-for="WedderOne" class="col-sm-2 col-form-label">Wedder One:</label>
        <span asp-validation-for="WedderOne" class="text-warning font-weight-bold"></span>
        <input asp-for="WedderOne" class="col-sm-10 mb-2">

        <label asp-for="WedderTwo" class="col-sm-2 col-form-label">Wedder Two:</label>
        <span asp-validation-for="WedderTwo" class="text-warning font-weight-bold"></span>
        <input asp-for="WedderTwo" class="col-sm-10 mb-2">

        <label asp-for="WedDate" class="col-sm-2 col-form-label">Planned Wedding Date: </label>
        <span asp-validation-for="WedDate" class="text-warning font-weight-bold"></span>
        <input asp-for="WedDate" type="date" asp-format="{0:dd/MM/yyyy}" class="col-sm-10 mb-2">

        <label asp-for="Address" class="col-sm-2 col-form-label">Address: </label>
        <span asp-validation-for="Address" class="text-warning font-weight-bold"></span>
        <input asp-for="Address" class="col-sm-10 mb-2">
        <button type="submit" class="btn btn-outline btn-warning">Add Wedding</button>
    </form>

</div>