@{
    ViewData["Title"] = "Home Page";
}

@model Response

<div class="container margin-auto">
    <form method="POST" asp-controller="Home" asp-action="addUser" class="form-control">
        <div class="form-control">
            <label>Your Name:</label>
            <span asp-validation-for="Name"></span>
            <input asp-for="Name">
        </div>
        <div class="form-control">
            <label>Dojo Location: </label>
            <span asp-validation-for="Location"></span>
            <select asp-for="Location">
                <option value="SanJose">San Jose</option>
                <option value="Burbank">Burbank</option>
                <option value="NewYork">New York</option>
            </select>
        </div>
        <div class="form-control">
            <label>Favorite Language</label>
            <span asp-validation-for="Language"></span>
            <select asp-for="Language">
                <option value="Javascript">Javascript</option>
                <option value="Java">Java</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <p><label for="Comments">Comments:</label></p>
        <span asp-validation-for="Comments"></span>
        <textarea asp-for="Comments" id="Comments" cols="30" rows="5" placeholder="Type your comments here (optional)"></textarea>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
